# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

go-qontract-reconcile

coverage.html

# Folders for schema creation
bundle/
fake_data/
fake_resources/
schemas/
graphql-schemas/

# Debugging credentials
config.toml
config.*.toml
config.yaml
config.*.yaml
config.yml
config.*.yml

# IDE temp
.vscode
